$blue01: rgb(0, 47, 63);
$blue02: rgb(40, 78, 91);

@font-face {
  font-family: "Metro";
  src: url(./fonts/metro.otf);
}

@font-face {
  font-family: "Exo";
  src: url(./fonts/exo2.ttf) format("truetype");
  font-weight: 1 999;
}

@font-face {
  font-family: "Exo";
  src: url(./fonts/exo2-italic.ttf) format("truetype");
  font-weight: 1 999;
  font-style: oblique 0deg 12deg italic;
}

.font-family-metro {
  font-family: Metro;
}
.font-family-exo {
  font-family: Exo;
}

.fitd.sheet.scum-and-villainy,
.fitd.dialog.scum-and-villainy {
  --blue01: #{$blue01};
  --blue02: #{$blue02};
  * {
    box-sizing: border-box;
  }
  font-family: "Exo";
  box-shadow: none;
  > header {
    background: $blue02;
  }
  > section.window-content {
    padding: 0;
    background: $blue01;
    color: white;
    button {
      color: white;
    }
    input {
      border: none;
      color: white;
      background: rgba(255, 255, 255, 0.075);
      border-bottom: 2px solid $blue02;
      border-radius: 0;
      &::placeholder,
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: white;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Metro;
  }
}

.fitd-actor-sheet {
  .column:nth-child(2) {
    background: $blue02;
  }
}

// Currently this class is disabled
.fitd-actor-sheet-grid-container {
  display: grid; // Turned off for now
  grid-template-columns: 3fr 2fr 1fr;
  // grid-template-rows: repeat(6, 1fr);
  gap: 1px 1px;
  grid-template-areas:
    "fitd-actor-sheet-logo                      fitd-actor-sheet-playbook-details       fitd-actor-sheet-actions"
    "fitd-actor-sheet-character-details         fitd-actor-sheet-moves                  fitd-actor-sheet-actions"
    "fitd-actor-sheet-stress-trauma             fitd-actor-sheet-moves                  fitd-actor-sheet-actions"
    "fitd-actor-sheet-harm-armor-stash          fitd-actor-sheet-moves                  fitd-actor-sheet-rules-reference-three"
    "fitd-actor-sheet-notes-projects            fitd-actor-sheet-contacts-items-one     fitd-actor-sheet-items-two"
    "fitd-actor-sheet-rules-reference-one       fitd-actor-sheet-rules-reference-two    fitd-actor-sheet-items-two";
}

.fitd-actor-sheet-logo {
  grid-area: fitd-actor-sheet-logo;
}

.fitd-actor-sheet-character-details {
  grid-area: fitd-actor-sheet-character-details;
}

.fitd-actor-sheet-stress-trauma {
  grid-area: fitd-actor-sheet-stress-trauma;
  h3 ~ datalist {
    margin-left: 4px;
  }
}

.fitd-actor-sheet-harm-armor-stash {
  display: grid;
  grid-template-columns: 3fr 1fr;
  // grid-template-rows: repeat(2, 1fr);
  gap: 1px 1px;
  grid-template-areas: "fitd-actor-sheet-harm fitd-actor-sheet-armor" "fitd-actor-sheet-harm fitd-actor-sheet-cred-stash";
  grid-area: fitd-actor-sheet-harm-armor-stash;
}

.fitd-actor-sheet-harm {
  grid-area: fitd-actor-sheet-harm;
}

.fitd-actor-sheet-armor {
  grid-area: fitd-actor-sheet-armor;
}

.fitd-actor-sheet-cred-stash {
  grid-area: fitd-actor-sheet-cred-stash;
}

.fitd-actor-sheet-notes-projects {
  grid-area: fitd-actor-sheet-notes-projects;
  display: flex;
  textarea {
    flex-grow: 1;
  }
}

.fitd-actor-sheet-playbook-details {
  grid-area: fitd-actor-sheet-playbook-details;
}

.fitd-actor-sheet-moves {
  grid-area: fitd-actor-sheet-moves;
}

.fitd-actor-sheet-actions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
  grid-template-areas: "fitd-actor-sheet-insight" "fitd-actor-sheet-prowess" "fitd-actor-sheet-resolve";
  grid-area: fitd-actor-sheet-actions;
}

.fitd-actor-sheet-insight {
  grid-area: fitd-actor-sheet-insight;
}

.fitd-actor-sheet-prowess {
  grid-area: fitd-actor-sheet-prowess;
}

.fitd-actor-sheet-resolve {
  grid-area: fitd-actor-sheet-resolve;
}

.fitd-actor-sheet-items-two {
  grid-area: fitd-actor-sheet-items-two;
}

.fitd-actor-sheet-contacts-items-one {
  grid-area: fitd-actor-sheet-contacts-items-one;
}

.fitd-actor-sheet-rules-reference-one {
  grid-area: fitd-actor-sheet-rules-reference-one;
  section > *:not(h5) {
    font-size: 10px;
  }
}

.fitd-actor-sheet-rules-reference-two {
  grid-area: fitd-actor-sheet-rules-reference-two;
}

.fitd-actor-sheet-rules-reference-three {
  grid-area: fitd-actor-sheet-rules-reference-three;
}

.fitd-actor-sheet-trauma-list {
  li {
    flex-basis: 25%;
  }
}

// https://stackoverflow.com/questions/39935538/styling-steps-in-html-range-input
.fitd-actor-sheet {
  input[type="range"] {
    display: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #aaa;
    height: 3px;
    width: 100%;
    margin: 10px auto;
    position: relative;
    ::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: green;
      border-radius: 50%;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    ::-moz-range-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: green;
      border-radius: 50%;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    ::-ms-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: green;
      border-radius: 50%;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
  }
  datalist {
    display: flex;
  }
  .fitd-actor-sheet-range {
    option {
      width: 10px;
      height: 100%;
      background: $blue01;
      transform: skew(-20deg);
      border: 1px solid white;
      margin-right: 2px;
      color: transparent;
      &.active {
        background: white;
      }
    }
  }
  // .fitd-actor-sheet-triangle-range {
  // datalist {
  // option {
  // }
  // }
  // }
}
